header {
  padding-inline: 8.75rem;
}

nav {
  margin: 0.75rem 0rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.75rem;
}

.nav__links {
  display: flex;
  gap: 2.5rem;
}

.nav__links > li a.dropdown {
  margin-top: -2rem;
  display: inline-flex;
  align-items: center;
}

.nav__btns {
  display: flex;
  gap: 1.5rem;
}
