.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: var(--text-color-main-text);
    text-decoration: none;
}
.nav__link_active{
    color: var(--primary-300-base);
}
.nav__link_dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cta__button{
    text-decoration: none;
    color: var(--primary-300-base);
}
.cta__button_primary{
    color: var(--neutral);
    padding: 0.75rem 1.5rem;
    background: var(--primary-300-base);
    border-radius: 24rem;
}

.hero-content__title{
    line-height: 6rem;
    color: var(--text-color-main-text);
}

.hero-content__title span{
    
    background-image: url(../../icons/underline.svg);
    background-position: 1.5em 1.5em;
    background-repeat: no-repeat;
    color: var(--primary-300-base);
}

.hero-content__title span svg{
    
}

.hero-content__paragraph{
    margin: 0 5rem;
}

.hero-content__cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 2rem;
}