/* pages */
@import url("./pages/index.css");

/* components */

/* utilities */
@import url("./others/font.css");
@import url("./others/variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
